.footer {
    text-align: center;
    padding: 60px;
    background-color: #75e0e4e8;
    color:rgb(39, 67, 77)
}

.footer ul{
  list-style:none;
  font-size: 32px;
  margin: 0;
}

.footer li{
  display: inline;
}

.footer p{
  color:rgb(39, 67, 77);
  margin:0;
}

.footer-social{
  display: flex;
}
.footer a{
  text-decoration: none;
  color:rgb(39, 67, 77);
}
